[Unit]
Description=vaultwarden (DietPi)
Documentation=https://github.com/dani-garcia/vaultwarden
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=vaultwarden
AmbientCapabilities=CAP_NET_BIND_SERVICE
LimitNOFILE=1048576
LimitNPROC=64
WorkingDirectory=/mnt/dietpi_userdata/vaultwarden
EnvironmentFile=/mnt/dietpi_userdata/vaultwarden/vaultwarden.env
ExecStart=/opt/vaultwarden/vaultwarden
Restart=on-failure
RestartSec=5s

# Hardening
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=-/mnt/dietpi_userdata/vaultwarden

[Install]
WantedBy=multi-user.target
